<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :player_id %><br>
    <% if @idea.player %>
      <%= f.select(:player_id, options_for_select(players, selected: @idea.player.id) ) %>
    <% else %>
      <%= f.select(:player_id, options_for_select(players), prompt: '-Select-') %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br>
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :costs %><br>
    <%= f.text_field :costs %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
