<!DOCTYPE html>
<html>
<head>
    <title>$$$ February</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>
  <link href="https://fontastic.s3.amazonaws.com/9fPVzMyv63xGRm4pu633cE/icons.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//use.typekit.net/hqu2fkm.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <%= yield %>

</body>
</html>